<section class="py-32 flex justify-center">
  <app-container>
    <div class="space-y-6">
      <h2 class="text-white text-3xl text-center">
        Angular Template Driven Form
      </h2>

      <form
        #userForm="ngForm"
        (ngSubmit)="fromSubmit(userForm)"
        class="w-[460px] p-12 bg-slate-900 rounded-xl border border-slate-800 space-y-5"
      >
        <div class="form-group space-y-2">
          <label for="" class="text-slate-300">First Name</label>
          <input
            type="text"
            placeholder="Enter a value..."
            class="bg-slate-800 px-3 h-11 w-full rounded-lg text-white outline-none border border-slate-700 focus:border-blue-500 placeholder:text-slate-600"
            [ngClass]="
              firstname.invalid ? 'border-rose-500 focus:border-rose-500' : null
            "
            name="firstname"
            #firstname="ngModel"
            [(ngModel)]="formData.firstname"
            required
          />

          <div
            class="invalid text-rose-600 text-xs"
            *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)"
          >
            <p>Firstname is required!</p>
          </div>
        </div>

        <div class="form-group space-y-2">
          <label for="" class="text-slate-300">Middle Name</label>
          <input
            type="text"
            placeholder="Enter a value..."
            class="bg-slate-800 px-3 h-11 w-full rounded-lg text-white outline-none border border-slate-700 focus:border-blue-500 placeholder:text-slate-600"
            [ngClass]="
              middlename.invalid
                ? 'border-rose-500 focus:border-rose-500'
                : null
            "
            name="middlename"
            #middlename="ngModel"
            [(ngModel)]="formData.middlename"
          />

          <div
            class="invalid text-rose-600 text-xs"
            *ngIf="
              middlename.invalid && (middlename.touched || middlename.dirty)
            "
          >
            <p>Please enter a valid input!</p>
          </div>
        </div>

        <div class="form-group space-y-2">
          <label for="" class="text-slate-300">Last Name</label>
          <input
            type="text"
            placeholder="Enter a value..."
            class="bg-slate-800 px-3 h-11 w-full rounded-lg text-white outline-none border border-slate-700 focus:border-blue-500 placeholder:text-slate-600"
            [ngClass]="
              lastname.invalid ? 'border-rose-500 focus:border-rose-500' : null
            "
            name="lastname"
            #lastname="ngModel"
            [(ngModel)]="formData.lastname"
            required
          />

          <div
            class="invalid text-rose-600 text-xs"
            *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)"
          >
            <p>Lastname is required!</p>
          </div>
        </div>

        <div class="form-group space-y-2">
          <label for="" class="text-slate-300">Email</label>
          <input
            type="email"
            placeholder="Enter a value..."
            class="bg-slate-800 px-3 h-11 w-full rounded-lg text-white outline-none border border-slate-700 focus:border-blue-500 placeholder:text-slate-600"
            [ngClass]="
              email.invalid ? 'border-rose-500 focus:border-rose-500' : null
            "
            name="email"
            #email="ngModel"
            [(ngModel)]="formData.email"
            required
          />

          <div
            class="invalid text-rose-600 text-xs"
            *ngIf="email.invalid && (email.touched || email.dirty)"
          >
            <p>Email is required!</p>
          </div>
        </div>
      </form>

      <button
        class="bg-blue-500 rounded-lg text-white px-4 h-11 w-full"
        [ngClass]="userForm.invalid ? 'bg-blue-800 text-white/50' : null"
        (click)="fromSubmit(userForm)"
        [disabled]="userForm.invalid"
      >
        Submit
      </button>

      <ul
        class="ligt-group border border-slate-800 rounded-lg overflow-hidden text-slate-400 bg-slate-900"
      >
        <li class="border-b border-slate-800 flex">
          <span
            class="border-r border-slate-800 flex-1 p-3 uppercase font-semibold text-slate-200"
            >Output:</span
          >
        </li>
        <li class="border-b border-slate-800 flex">
          <span class="border-r border-slate-800 flex-1 p-3">Firsntame</span>
          <span class="border-r border-slate-800 flex-1 p-3 text-emerald-500">
            {{ formData.firstname }}
          </span>
        </li>

        <li class="border-b border-slate-800 flex">
          <span class="border-r border-slate-800 flex-1 p-3"
            >Middlename <span class="text-slate-600">(Optional)</span></span
          >
          <span class="border-r border-slate-800 flex-1 p-3 text-emerald-500">
            {{ formData.middlename || "-" }}
          </span>
        </li>

        <li class="border-b border-slate-800 flex">
          <span class="border-r border-slate-800 flex-1 p-3">Lastname</span>
          <span class="border-r border-slate-800 flex-1 p-3 text-emerald-500">
            {{ formData.lastname }}
          </span>
        </li>

        <li class="border- border-slate-800 flex">
          <span class="border-r border-slate-800 flex-1 p-3">Email</span>
          <span class="border-r border-slate-800 flex-1 p-3 text-emerald-500">
            {{ formData.email }}
          </span>
        </li>
      </ul>
    </div>
  </app-container>
</section>
